:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  --default-spacing: 2rem;
  --half-spacing: 1rem;
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--system-ui);
  display: flex;
  min-height: 100vh;
  line-height: 1.5;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  border-radius: 4px;
}

#background-sidebar {
  width: 40vw;
  background: url(img/galata-tower.jpg) center/cover;
}

#header-sidebar {
  position: relative;
  top: 88%;
  right: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  color: white;
}

#header-slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: -2px 0 1px black, 0 2px 1px black, 2px 0 1px black, 0 -2px 1px black;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(1,1)     translateY(-10px); }
  50%  { transform: scale(1.05,1)   translateY(0); }
  57%  { transform: scale(1,1)      translateY(-2px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

main {
  width: 60vw;
  background: rgb(249, 250, 251);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

#header-sidebar > img {
  height: 4rem;
}

.form-element {
  display: flex;
  flex-direction: column;
  min-width: 10rem;
  width: 25rem;
}

.form-element input {
 padding: 0.25rem 0.5rem;
 flex: 1 1 auto;

}

#form-element-row {
  display: flex;
  gap: var(--half-spacing);
  flex-wrap: wrap;
}

main > div {
  width: 100%;
}

#form-cont {
  background: rgb(255, 255, 255);
  box-shadow: 3px 3px 10px black;
  padding: var(--default-spacing);
  border-radius: 5px;
}

#form-cont h2 {
  margin-bottom: var(--default-spacing);
  line-height: 0.6;
}

  #form-element-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: var(--half-spacing);
}

a {
  text-decoration: none;
}

#apply {
  margin: var(--default-spacing);
  padding: var(--half-spacing) 4rem;
  font-weight: 700;
}

#login-message {
  margin-left: var(--default-spacing);
}

@media only screen and (max-width: 610px) {
  body {
    flex-direction: column;
    font-size: 1.2rem;
  }

  #background-sidebar {
    width: 100%;
    min-height: 15vh;
    flex: 1 1 auto;
  }

  main {
    width: 100%;
  }

  #header-sidebar {
    top: 85%;
  }
}