:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: clamp(0.9rem, 1.5vw, 1.2rem);
  --default-spacing: 2rem;
  --half-spacing: 1rem;
  --secondary-color: rgb(237, 28, 36);
  --text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--system-ui);
  display: flex;
  min-height: 100vh;
  line-height: 1.5;
  color: white;
  font-weight: 700;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  border-radius: 4px;
  border-width: 3px;
}

#background-sidebar {
  position: relative;
  width: 40vw;
  background: url(img/galata-tower.jpg) center/cover;
}

#header-sidebar {
  position: absolute;
  bottom: 2rem;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
}

#header-slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: var(--text-shadow);}

.bounce {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(1,1)      translateY(-10px); }
  50%  { transform: scale(1.05,1)   translateY(0); }
  57%  { transform: scale(1,1)      translateY(-2px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

main {
  position: relative;
  width: 60vw;
  background: rgb(12, 36, 65);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

hgroup {
  margin: var(--default-spacing);
  align-self:flex-end;
  text-align: right;
  text-shadow: var(--text-shadow);
  font-size: 1.5rem;
}

hgroup h3 {
  color: var(--secondary-color);
}

#header-sidebar > img {
  height: 4rem;
}

.form-element {
  display: flex;
  flex-direction: column;
  min-width: 10rem;
  width: 25rem;
}

.form-element input {
 padding: 0.25rem 0.5rem;
 flex: 1 1 auto;

}

#form-element-row {
  display: flex;
  gap: var(--half-spacing);
  flex-wrap: wrap;
}

main > div {
  width: 100%;
  background: rgb(112, 108, 91);
  color: black;
}

#form-cont {
  background: rgb(255, 255, 255);
  box-shadow: 3px 3px 10px black;
  padding: var(--default-spacing);
  border-radius: 5px;
}

#form-cont h2 {
  margin-bottom: var(--default-spacing);
  line-height: 0.6;
}

  #form-element-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: var(--half-spacing);
}

a {
  text-decoration: none;
  text-shadow: var(--text-shadow);
}

#login-message a {
  color: var(--secondary-color);
}

#apply {
  margin: var(--default-spacing);
  padding: var(--half-spacing) 4rem;
  font-weight: 700;
  background-color: var(--secondary-color);
  text-shadow: var(--text-shadow);
  color: white;

}

#login-message {
  margin-left: var(--default-spacing);
  margin-bottom: 6rem;
  text-shadow: var(--text-shadow);
}

@media only screen and (max-width: 610px) {
  body {
    flex-direction: column;
    font-size: 1.2rem;
  }

  #background-sidebar {
    width: 100%;
    min-height: 100px;
    flex: 1 1 auto;
  }

  main {
    width: 100%;
  }

  #form-element-row {
    width: 100%;
  }
  
  .form-element {
    width: 100%;
  }
}

footer {
  position: absolute;
  bottom: 10px;
  font-weight: bold;
  font-size: 1rem;
  text-shadow: var(--text-shadow);
  margin-top: 20px;
  align-self: center;
}

footer a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;

}

footer img {
  aspect-ratio: 1/1;
  width: 20px;
  border-radius: 5px;
}